.blog-card {
    float: left;
    max-width: 400px;
    margin: 2%;
}

.blog-card img {
    width: 400px;
    height: 400px;
}
  
.blog-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card-title {
    font-size: 25pt;
}

