<div *ngFor='let blog of blogService.getAllBlogs()' class="floatingDiv">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="blog-header-image"></div>
            <mat-card-title>{{blog.getAuthor()}}'s Blog</mat-card-title>
            <mat-card-subtitle>Travel to {{blog.getDestination()}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{blog.getBlogimageurl()}}" alt="Blog main image">
        <mat-card-content>
            <p>{{blog.getDescription()}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="/blogview/{{blog.getId()}}">
                View Blog
                <mat-icon mat-fab role="img"  aria-hidden="true" >pageview</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>

