<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Bob's Travel Blog</span>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" (click)="createLoginDialog()" *ngIf="!this.isLoggedIn">
        <span>Login</span>
        <mat-icon>person</mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="createRegisterDialog()" *ngIf="!this.isLoggedIn">
        <span>Register</span>
        <mat-icon>person_add</mat-icon>
    </button>
    <span *ngIf="this.isLoggedIn">Logged in as User: {{getUsername()}}</span>
    <button mat-raised-button color="accent" (click)="logout()" *ngIf="this.isLoggedIn">
      <span>Logout</span>
      <mat-icon>person</mat-icon>
  </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>