<div *ngIf='post' class="postDiv">
    <mat-card>
        <mat-card-header >
            <div mat-card-avatar class="blog-header-image"></div>
            <mat-card-title>{{post.getTitle()}}</mat-card-title>
            <mat-card-subtitle>{{post.getTraveldate().getSeconds() * 1000 | date : 'dd.MMM.yyyy'}}, {{post.getLocation()}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{post.getHeaderimageurl()}}" alt="post Header image">
        <mat-card-content>
            <p>{{post.getText()}}</p>
        </mat-card-content>
    </mat-card>
</div>


<div class="commentDiv" *ngIf="checkIfPostExists()">
    <h2>Comments</h2>
    <mat-list *ngFor='let comment of getAllComments()'>
        <mat-list-item>
            <span class="commentHeader"><b>{{comment.getUnixTimestamp() * 1000 | date : 'dd.MMM.yyyy'}} &nbsp;&nbsp;</b></span>
            <label>&nbsp;&nbsp;</label>
            <span class="commentBody"><b>{{comment.getAuthor()}}</b> said:  {{comment.getText()}}</span>
            <button mat-raised-button color="warn" (click)="deleteComment(comment.getId())" *ngIf="checkIfYourComment(comment)" >Delete
                <mat-icon mat-fab role="img"  aria-hidden="true" >delete</mat-icon>
            </button>      
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
    <mat-form-field *ngIf="checkIfLoggedIn()">
        <input matInput placeholder="Write Comment" #newcomment *ngIf="checkIfLoggedIn()">
    </mat-form-field>
    <button class="createbutton" mat-raised-button color="accent" (click)="addComment()" *ngIf="checkIfLoggedIn()">Add Comment
        <mat-icon mat-fab role="img"  aria-hidden="true" >add_box</mat-icon>
    </button>
</div>
